<ion-header  [translucent]="true">
  <ion-toolbar color="sangue">
    <ion-title>Usuário-login <ion-button fill="clear" color="light"><ion-icon name="person-add-outline"></ion-icon></ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>

  <div id="img1">
<img src="https://etc.usf.edu/presentations/extras/letters/varsity_letters/20/13/A-200.png" alt="">
  </div>


<ion-content>
  <ion-card>
    <ion-card-content>
  <ion-item color="sangue">
  <ion-label >E-MAIL:</ion-label>
  <ion-input placeholder="adicione seu email"></ion-input>
  </ion-item>
<br>
  <ion-item color="sangue">
    <ion-label>Senha:</ion-label>
    <ion-input placeholder="••••••••"></ion-input>
  </ion-item>


<br>
  <ion-button shape="round" color="sangue">Entrar</ion-button>
  <ion-button shape="round" color="sangue">Registrar</ion-button>
  <ion-button shape="round" color="sangue">Esqueceu a senha</ion-button>

</ion-card-content>
</ion-card>
</ion-content>
</body>
