<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>E-MAIL:</ion-label>
    <ion-input placeholder="adicione seu email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input placeholder="adicione sua senha"></ion-input>
  </ion-item>
  <ion-button shape="round" color="botoes">Entrar</ion-button>
  <ion-button shape="round" color="botoes">Registrar</ion-button>
  <ion-button shape="round" color="botoes">Esqueceu a senha</ion-button>
</ion-content>
