<ion-header [translucent]="true" >
  <ion-toolbar color="sangue">
    <ion-title color="light">
    Criação de Paginas
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-card>
  <ion-item routerLink= "/login">
  <ion-button size="large" color="sangue"> login </ion-button>
</ion-item>
  <ion-item routerLink= "/registro">
  <ion-button size="large" color="sangue"> registro</ion-button>
  </ion-item>
  <ion-item routerLink= "/produto">
    <ion-button size="large" color="sangue">produto</ion-button>
    </ion-item>
  </ion-card>
</ion-content>


