<ion-header [translucent]="true" >

  <ion-toolbar color="sangue">
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<form [formGroup] = "formRegistro">

  <ion-item >
    <ion-label placeholder="adicione seu nome completo">Nome:</ion-label>
    <ion-input formControlName="nome"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label placeholder="000.000.000-00"> CPF:</ion-label>
    <ion-input formControlName="cpf"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label placeholder="adicione seu email">E-MAIL:</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label  placeholder="••••••••">Senha:</ion-label>
    <ion-input type="password" formControlName="senha"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label placeholder="••••••••">Confirmar senha:</ion-label>
    <ion-input type="password" formControlName="confirmaSenha"></ion-input>
  </ion-item>


  <ion-button shape="round" color="sangue"  (click)="salvarRegistro()"> <ion-icon name="open-outline"></ion-icon> Salvar</ion-button>
  <ion-button shape="round" color="sangue" routerLink="tab1" > <ion-icon name="arrow-back-outline"></ion-icon> voltar</ion-button>
</form>
  </ion-content>

